In [1]:
fork_csv = 'time.csv'
bond_csv = 'timebonds.csv'

In [3]:
import pandas as pd
fork_df = pd.read_csv(f"./data/{fork_csv}")
bond_df = pd.read_csv(f"./data/{bond_csv}")

In [4]:
fork_df

,fork,block,timestamp,supply,staked,index,market_price,length,number,end_block,distribute
0,time,3775251,1630620040,30000.606234,7.507382,4.547419,100,69,0,28800,1.630620
1,time,3804051,1630674348,31534.534723,22449.184991,4.547419,100,70,90001818702,28800,1.630649
2,time,3832851,1630737724,32934.560324,23327.711677,4.624071,100,74,98508156503,28800,1.630764
3,time,3861651,1630801803,33150.787895,24207.932235,4.662392,100,76,99154898989,28800,1.630822
4,time,3890451,1630873838,35253.487129,26136.474425,4.700349,100,78,99750720777,28800,1.630879
...,...,...,...,...,...,...,...,...,...,...,...
161,time,8412051,1639856341,587298.404584,388728.663782,28.057658,100,390,2385826595461,28800,1.639865
162,time,8440851,1639914968,594182.849798,392935.282080,28.402561,100,392,2415164881258,28800,1.639922
163,time,8469651,1639973572,601766.182616,399278.128982,28.752141,100,394,2445526869667,28800,1.639980
164,time,8498451,1640031900,609905.567780,406610.836758,29.104182,100,396,2477790379844,28800,1.640038
165,time,8527251,1640091307,619339.823810,416634.216230,29.457929,100,398,2514992635731,28800,1.640095

In [5]:
bond_df

,name,block,timestamp,price,add,rate,target,buffer,last_time,control_variable,min_price,max_payout,max_debt,vesting_term
0,mim,4840851,1632601221,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
1,mim,4869651,1632661843,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
2,mim,4898451,1632721656,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
3,mim,4927251,1632781248,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
4,mim,4956051,1632840916,435000,False,0,170,0,1632597774,170,435000,75,1000000000000000,432000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124,mim,8412051,1639856341,69409,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
125,mim,8440851,1639914968,16212,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
126,mim,8469651,1639973572,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
127,mim,8498451,1640031900,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000
128,mim,8527251,1640091307,0,True,0,257,8640,1638916108,257,0,75,2000000000000000,432000

In [16]:
import math

last = fork_df.sort_values('timestamp').tail(1)
last.distribute = last.distribute
last.distribute

165    1.640095
Name: distribute, dtype: float64

In [14]:


reward = float(last.distribute)
rebase = reward / float(last.staked)
apy = math.pow(1 + rebase, 5 * 3) - 1
five_day = math.pow(1 + rebase, 365 * 3) - 1
(reward, rebase, apy, five_day)

OverflowError: math range error